.payment{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymentInner{
    width: 90%;
    border-top:1px solid #d8d6d6;
    border-bottom:1px solid #d8d6d6;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paymentInner .main,
.paymentInner div{
    width: 30%;
    text-align: center;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    margin-bottom: 2rem;
}
.paymentInner div span{
    margin-bottom: 1.3rem;
    font-size: 2.4rem;
}
.paymentInner div h3{
    color: #333;
    font-weight: 400;
    font-size: 1.55rem;
    letter-spacing: -.025em;
}
.paymentInner div p{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #777;
}
.mainScrolledLeft,
.mainScrolledRight{
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 150ms;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
.mainScrolledLeft{
    animation-name: animation-left;
}
.mainScrolledRight{
    animation-name: animation-right;
}
@keyframes animation-left{
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}
@keyframes animation-right{
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}